body, html {
  overflow: hidden;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}
.cardWrapper {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.card {
  background-color: white;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;

}

.card-body{

  width: 60%;
  
}

